body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.fadeIn {
    animation: fadeInKeyFrames 1s linear forwards;
}

.fadeOut {
    animation: fadeOutKeyFrames 1s linear forwards;
}

.spin {
    transform: rotateY(0deg);
    animation: spinFrames 2s linear forwards;
}

.spin-into-logo {
    transform: rotateY(0deg);
    animation: spinFirstHalfFrames 1s linear forwards;
}

.spin-outof-logo {
    transform: rotateY(0deg);
    animation: spinSecondHalfFrames 1s linear forwards;
}

.cover-art {
    border-radius: 1cqi;
    padding: 1cqi;
    width: 15cqi;
}

.now-playing-container {
    position: relative;
    background: rgba(0, 0, 0, .85);
    padding: 5px;
    display: display-inside;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    container-type: normal;
}

.background-image {
    top: 0px;
    left: 0px;
    position: absolute;
    max-height: min-content;
    opacity: 25%;
    background-color: #000000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.song-title {
    vertical-align: top;
    font-size: 7cqi;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.artists {
    vertical-align: top;
    font-size: 3.5cqi;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: orangered;
    position: relative;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeInKeyFrames {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeOutKeyFrames {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes spinFirstHalfFrames {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(90deg);
    }
}

@keyframes spinSecondHalfFrames {
    from {
        transform: rotateY(270deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinFrames {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}