body {
    background-color: rgba(0, 0, 0, 0);
    overflow:hidden;
}

.fadeIn {
    animation: fadeInKeyFrames 1s linear forwards;
}

.fadeOut {
    animation: fadeOutKeyFrames 1s linear forwards;
}

.spin {
    transform: rotateY(0deg);
    animation: spinFrames 2s linear forwards;
}

.cover-art {
    border-radius: 1cqi;
    padding: 1cqi;
    width: 15cqi;
}

.now-playing-container {
    position: relative;
    border-radius: 15px;
    background: rgba(0, 0, 0, .85);
    padding: 5px;
    display:inline-block;
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    container-type: inline-size;
}

.background-image {
    top: -50%;
    position: absolute;
    opacity: 10%;
    background-color: #000000; /* Used if the image is unavailable */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.vertical-center {
    margin: 50;
    position: relative;
    top: 50%;
    transform: translateY(1cqh);
  }

.song-title {
    font-size: 5cqi;
}

.artists {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5cqi;
  }

.info {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.marquee {
    --gap: .25em;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    gap: var(--gap);
}

/* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 10s linear infinite;
}

@keyframes fadeInKeyFrames {
    0%   { opacity : 0 }
    100% { opacity : 1 }
}

@keyframes fadeOutKeyFrames {
    0%   { opacity : 1 }
    100% { opacity : 0 }
}

@keyframes rotateFirstHalfFrames {
    from { transform: rotateY(0deg);  }
    to   { transform: rotateY(90deg); }
}

@keyframes rotateSecondHalfFrames {
    from { transform: rotateY(270deg); }
    to   { transform: rotateY(360deg); }
}

@keyframes spinFrames {
    from { transform: rotateY(0deg);   }
    to   { transform: rotateY(360deg); }
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(calc(-100% - var(--gap))); }
}